
body{
  font-family: 'Times New Roman';
  background-color:#a2b9bc;
  color:black;

}



.toolbar {
  background-color: #a2b9bc;
  border: 1px outset black;
  padding:15px;
  margin-top:10px;
  width:100%;
  display: inline-flex;

}

.checkBoxItems{
  text-align: left
}

.sourcelist {
  background-color:#878f99;
  opacity: .8;
  font-size: 18px;
  border: 3px solid #a2b9bc;
  margin-top: 10px;
  padding: 10px 5% 10px 5%
}

.upOrDown {
  display: inline-flex;
}

.emo {
  color:black;
  display: inline-flex;
  border-style: solid;
    border-width: 1px;
    margin: 5px
}

.upOrDown {
  border-style: solid;
    border-width: 1px;
    margin: 5px
}

p{
  margin: 10px
}



.selectedEmo{
  background-color: #f44242;

}




.source {
  background-color: #DDDDDD;
  border: 2px outset black;
      margin-bottom:10px;
      margin-top:10px;
      padding-top: 5%;
      padding-right: 10%;
      padding-bottom: 5%;
      padding-left: 5%;
  font-family: 'Times New Roman'

    }

.emotions {
border-style: solid;
border-color: #30292F;
border-width: 2px;
margin-left: 40%;
margin-right: 40%;
cursor: default;


    }

    .button{
      background-color: #DDDDDD;
      color:black;
    }

    #logOut{
      color:black;
      background-color: #DDDDDD;
    }

    #navbar{
      color:black;
      background-color: #878f99;

    }

    #about{
      font-size: 20px;
      text-shadow: 2px;
      color:#6b5b95
    }

    .sorting{
      border: 2px outset black;
      padding-right:7%;
      color: black
    }

.checkBoxItems{
  overflow: scroll;
  height: 100%

}




.collapsible-header{
  background-color: #878f99;
  color: #6b5b95;
  font-size: 18px


}




    button{
      border: 1px outset black;

    }


    .signInButton{
      background-color: #DDDDDD;
      color:black;
      font-size: 20px
    }



    #frontTitle{

      background-color: #878f99;
      font-size: 26px;
      color:#6b5b95;
      border-style: solid;
   border-width: 1px;

    }

    .logoutButton{
      background-color: #DDDDDD;
      color:black;
      font-size: 20px
    }

    .emo{
      border-radius: 10px;

    }

    .upOrDown{
      border-radius: 10px;
    }

#selectAllbtn{
      background-color: #DDDDDD;
      color:black;
    }

#selectSourcesbtn{
  background-color: #DDDDDD;
  color:black;

}

#sadnessSort{
  color:black
}
#joySort{
  color:black;
}
#angerSort{
  color:black
}
#fearSort{
  color:black
}
#disgustSort{
  color:black
}

#acsendingSort{
  color:black
}
#decsendingSort{
  color:black
}

.sortButton{
  background-color: #DDDDDD;
  color:black;
}

  .title {
    font-size: 22px;
    text-decoration: underline;
  }

  .description {
    font-style: italic;
  }

.App {
  text-align: center;
  padding: 10%
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FCFCFC;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 600px) {
    .toolbar {
      /*width:50%;*/
        background-color: #a2b9bc;
        border: 1px outset black;
        /*padding:15px;*/
        margin-top:10px;
        width:100%;
        /*display: inline-flex;*/
    }
    .sorting{
      margin:10%;
      width:50%
    }

}
